# Configuration for deploying in Production

NAMESPACE='fast-api-microservice-boilerplate-production' #TODO: Replace placeholder

EXTERNAL_REGISTRY_BASE_DOMAIN=gcr.io/project_name #TODO: Replace placeholder
REPOSITORY_NAME=fast-api-microservice-boilerplate #TODO: Replace placeholder

HELM_CHARTS=('charts')
HELM_RELEASE_NAMES=('fast-api-microservice-boilerplate-prod') #TODO: Replace placeholder
HELM_VALUES=('production/production')